.posts-wrapper.row
  .post
    .post-head
      .name
        Test name here ahahahah
      .image.center-block
        =image_tag @post.image.url(:medium)
      %p.description
        =@post.description
      .text-right.action-links
        =link_to "Delete...?", post_path(@post), style: 'color: #b30000;', method: :destroy, data: {confirm: "This will delete the post... Are you sure?"}