%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Pseudogram
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar
        %li
          %a{:href => new_user_registration_path} Sign up

      %ul.nav.navbar-nav.navbar
        %li
          %a{:href => new_user_session_path} Login