%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Pseudogram
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Log out", destroy_user_session_path, method: "delete"

      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Messages

      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => new_post_path} Create post

      %form.navbar-form.navbar-right
        .form-group
          %input.form-control{:placeholder => "Look for a user", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Go!